{% extends 'base.html' %}
{% block header_class %}header--form-page{% endblock %}
{% block nav_log %}
    <ul class="nav--actions">
        <li class="logged-user">
            Witaj Agata
            <ul class="dropdown">
                <li><a href="#">Profil</a></li>
                <li><a href="#">Ustawienia</a></li>
                <li><a href="#">Wyloguj</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}
{% block slogan %}
    <h2>
        Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
        informacje o odbiorze.
    </h2>
{% endblock %}
{% block content %}
{% endblock %}
